<div style="background-color: #f9f5ec; height: 100vh">
  <nav class="navbar" style="background-color: #144151; justify-content: center; display: flex">
      <img src="../../assets/images/logo.png" width="220" height="110" style="text-align: center">
  </nav>

  <div style="display: flex; align-items: center; flex-direction: column; justify-content: center">
    <i class="fa fa-check-circle" style="color: #00C853; font-size: 100px"></i>
    <p style="font-size: 30px; padding-top: 15px">Howdy, {{name}}! </p>
    <p >Pass successfully scaned</p>
  </div>

</div>
